    	<div id="signal_off">
    		<a href="http://<%= @request.host %>/ampel_server/change_state?actions[signal]=On">
    			<img src="http://<%= @request.host %>/signal.gif" width="95" height="95" alt="Signal"><br />
    		</a>
    	</div>
	
    	<div id="signal_on">
    		<a href="http://<%= @request.host %>/ampel_server/change_state?actions[signal]=Off">
    			<img src="http://<%= @request.host %>/signal_animated.gif" width="95" height="95" alt="Signal"><br />
    		</a>
    	</div>
	
    	<%- if @ampel.state_for("signal") == "Off" -%>
    		<script type="text/javascript" charset="utf-8">
    			$('signal_on').hide();
    			$('signal_off').show();
    		</script>
    	<%- else -%>
    	<script type="text/javascript" charset="utf-8">
    		$('signal_off').hide();
    		$('signal_on').show();
    	</script>
    	<%- end -%>
